html,
body {
  /* font-family: "Josefin Sans", sans-serif; */
  font-family: 'MiamaNuevaMedium';
   font-weight: normal;
   font-style: italic;
  font-size: 10px; /* для iphone 5s */

}

body,
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bbddee;
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  min-height: 100vh;
}

.tribute_app {
  position: relative;
  width: 32rem;
  height: 64rem;
  margin: auto;
  border: 16px #000 solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

.tribute_app:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  /* позиция линии относительно .smartphone */
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  /* выравнивание по центру */
  background: #333;
  border-radius: 10px;
}

.tribute_app:after {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

.tribute_app .content {
  padding: 1px;
  width: 32rem;
  height: 64rem;
  overflow-y: scroll;
  /* scrollbar-color: rebeccapurple green; */
  scrollbar-width: none;
  /* height: 600px; */
  /* background: #be28be;; */
  background-color: #ff0000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='600' y1='25' x2='600' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0000'/%3E%3Cstop offset='1' stop-color='%23E0F'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='650' y1='25' x2='650' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0019'/%3E%3Cstop offset='1' stop-color='%23ce00f3'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='700' y1='25' x2='700' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0031'/%3E%3Cstop offset='1' stop-color='%23b000e6'/%3E%3C/linearGradient%3E%3ClinearGradient id='d' gradientUnits='userSpaceOnUse' x1='750' y1='25' x2='750' y2='777'%3E%3Cstop offset='0' stop-color='%23ff004a'/%3E%3Cstop offset='1' stop-color='%239400da'/%3E%3C/linearGradient%3E%3ClinearGradient id='e' gradientUnits='userSpaceOnUse' x1='800' y1='25' x2='800' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0063'/%3E%3Cstop offset='1' stop-color='%237a00ce'/%3E%3C/linearGradient%3E%3ClinearGradient id='f' gradientUnits='userSpaceOnUse' x1='850' y1='25' x2='850' y2='777'%3E%3Cstop offset='0' stop-color='%23ff007c'/%3E%3Cstop offset='1' stop-color='%236200c1'/%3E%3C/linearGradient%3E%3ClinearGradient id='g' gradientUnits='userSpaceOnUse' x1='900' y1='25' x2='900' y2='777'%3E%3Cstop offset='0' stop-color='%23ff0094'/%3E%3Cstop offset='1' stop-color='%234d00b5'/%3E%3C/linearGradient%3E%3ClinearGradient id='h' gradientUnits='userSpaceOnUse' x1='950' y1='25' x2='950' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00ad'/%3E%3Cstop offset='1' stop-color='%233900a8'/%3E%3C/linearGradient%3E%3ClinearGradient id='i' gradientUnits='userSpaceOnUse' x1='1000' y1='25' x2='1000' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00c6'/%3E%3Cstop offset='1' stop-color='%2328009c'/%3E%3C/linearGradient%3E%3ClinearGradient id='j' gradientUnits='userSpaceOnUse' x1='1050' y1='25' x2='1050' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00df'/%3E%3Cstop offset='1' stop-color='%23180090'/%3E%3C/linearGradient%3E%3ClinearGradient id='k' gradientUnits='userSpaceOnUse' x1='1100' y1='25' x2='1100' y2='777'%3E%3Cstop offset='0' stop-color='%23ff00f7'/%3E%3Cstop offset='1' stop-color='%230b0083'/%3E%3C/linearGradient%3E%3ClinearGradient id='l' gradientUnits='userSpaceOnUse' x1='1150' y1='25' x2='1150' y2='777'%3E%3Cstop offset='0' stop-color='%23E0F'/%3E%3Cstop offset='1' stop-color='%23007'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg %3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' x='100' width='1100' height='800'/%3E%3Crect fill='url(%23c)' x='200' width='1000' height='800'/%3E%3Crect fill='url(%23d)' x='300' width='900' height='800'/%3E%3Crect fill='url(%23e)' x='400' width='800' height='800'/%3E%3Crect fill='url(%23f)' x='500' width='700' height='800'/%3E%3Crect fill='url(%23g)' x='600' width='600' height='800'/%3E%3Crect fill='url(%23h)' x='700' width='500' height='800'/%3E%3Crect fill='url(%23i)' x='800' width='400' height='800'/%3E%3Crect fill='url(%23j)' x='900' width='300' height='800'/%3E%3Crect fill='url(%23k)' x='1000' width='200' height='800'/%3E%3Crect fill='url(%23l)' x='1100' width='100' height='800'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.content h1 {
  margin-left: 10px;
}
.tribute_app .content::-webkit-scrollbar {
  width: 1px;
}

/* iframe {
  width: 100%;
  height: 100%;
  border: none;
} */

.b-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.b-col {
  /* width: calc(50% - 20px); */
  width: fit-content;
  margin: 10px;
}

.b-item {
  /* background-color: #ccc; */
  /* padding-bottom: 100%; */
  padding: 5px;
  position: relative;
}

.b-item img {
  padding: 5px;
  /* box-shadow: 0px 1px 1px 1px rgb(69, 117, 111); */
  /* тень */
  border-radius: 70px;
  max-width: none;
  min-width: auto;
  min-height: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover; 
}

@media screen and (max-width: 2200px) {
  .b-col {
    font-size: 7px;
    width: calc(55% - 68px);
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .b-item {
    /* margin-right: 0px; */
    width: 130px;
    height: 130px
  }

  .b-item img {
    padding: 5px;
    /* box-shadow: 0px 1px 1px 1px rgb(69, 117, 111);  */
    border-radius: 70px;
    /* max-width: 45%; */
    object-fit: cover; 
  }
 .header_song > p {
    white-space: nowrap;
    /* padding-left: 1em; */
    font-size: 12px;
    position: absolute;
    color			: rgb(173, 19, 19);
    top: 131px;
    /* left: 2em; */
    /* left: 19px; */
    width: 100%;
}
}

/* классы для Фронта */
.header {
  height: 93px;
  width: 277px;
  font-size: 3em;
  padding: 1em 1.5em;
  color: rgb(24, 21, 21);
  background-color: #be28be;
  /* border-radius: 0.5em; */
  /* margin-bottom: 1.5em; */
  /* height: 3em; */
}
.media {
  /* float: left;
   margin: 0 1.5em 1.5em 0;*/
   display: flex;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
   /* width: calc(95% - 0.5em);  */
   height: 300px;
  padding: 0.5em;
  background-color: #eee;
  border-radius: 0.5em;
  object-fit: cover;
  vertical-align: middle;
}
.media-image_front {
  max-width: none;
  min-width: auto;
  min-height: auto;
  padding: 1.5em;
  /* width: calc(95% - -7.5em); */
  height: 134%;
  /* min-width: 200px; */
  width:auto;
}
.media-image {
  max-width: none;
  min-width: auto;
  min-height: auto;
  padding: 1.5em;
  /* width: calc(95% - -7.5em); */
  height: 60%;
  /* min-width: 200px; */
  width:auto;
}
.media-image > img {
  display:block;
  width: 100%; 
  height: 250px;
  object-fit: cover;
}
.media-body {
  display: flex;
   justify-content: center;
   align-items: center;
}
.media-body span {
  margin-top: 1.5em;
  padding: 0.5em;
  color: #000;
  background-color: #993a99;
  font-size: 3em;
  text-align:center;
  
}

/* НИЖНЕЕ МЕНЮ */
.nav{
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
 
  /* flex-direction: columnж */
  /* margin-top: 17.5em; */
  background-color: #be28be;
  vertical-align:bottom;
}
.menu{
  display:flex;
  font-size: large;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height:60px;
  background-color:rgb(115, 66, 161);
  width:calc( ( 100% - 77px) / 3 );
  border-radius: 1em;
  
}
.menu:nth-child(3n-1){
  margin-left:20px;
  margin-right:20px;
}

/* для Song */
.header_song {
  text-align: right;
  font-size: 1.5rem;
  padding: 1em 1.5em;
  color: rgb(221, 198, 198);
  background-color: #381838;
  border-radius: 0.5em;
  /* margin-bottom: 1.5em; */
  /* height: 3em; */
}

.media_song {

   display: flex;
   flex: 1 1 auto;
   justify-content: center;
   align-items: center;
   height: 600px;
  padding: 0.5em;
  background-color: #330000;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  background-attachment: fixed;
  background-size: cover;
  border-radius: 0.5em;
  object-fit: cover;
  vertical-align: middle;
  flex-direction: column;
  overflow-y: scroll;
  flex-wrap: wrap;
    flex-direction: row-reverse;
}
.media_song::-webkit-scrollbar {
  width: 1px;
}

.hidden { display:none; }

.audio_block > p {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #eee;
}
.video_block > p {
  display: block;
  font-size: 1.5rem;
  text-align: center;
  color: #eee;
}

.video_block {
  position: relative;
  
  width: 100%;
  height: 400px;
  
}
#video_frame
{
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100% !important;
  height: 47vh !important;
  border-width: 0;
  outline-width: 0;
}

audio::-webkit-media-controls-enclosure {

  background-color: #500b85ca;
  }
  .LinkTo {
    position: absolute;
    top: 90%;
    left: 63%;
    background-color: rgb(110, 29, 131); /* Blue background */
    border: none; /* Remove borders */
    color: white; /* White text */
    padding: 2px 6px;
    font-size: 14px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
    border-radius: .5em;
}